<%- include('partials/header'); -%>

<div class="main-container">
  <form>
    <h2>Login</h2>
    <div class="login-error"></div>
    <label for="email">Email:</label>
    <input type="text" name="email" required />

    <label for="password">Password:</label>
    <input type="password" name="password" required />

    <input type="submit" value="Login"> 

    <p>
      Don't have an account? 
      <a href="/signup">Sign Up</a>
    </p>
  </form>
</div>

<script>
  const userForm = document.querySelector("form");
  const emailPasswordError = document.querySelector(".login-error");
  
  userForm.addEventListener("submit", async (e) => {
    e.preventDefault();

    // reset errors (if any)
    emailPasswordError.textContent = "";
    emailPasswordError.style.display = "none";
    
    const email = userForm.email.value; 
    const password = userForm.password.value;
    
    try {
      const result = await fetch("/login", {
        method: "POST",
        body: JSON.stringify({ email, password }),
        headers: { 
          "Content-Type": "application/json" 
        }
      })
      
      console.log(email, password);

      // save the promise returned by the server in a data constant
      const data = await result.json();

      console.log(data);

      // check errors and populate error message if needed
      if (data.errors) {
        emailPasswordError.textContent = data.errors.login;
        emailPasswordError.style.display = "block";
      }

      // redirect
      if (data.userID) {
        location.assign("/");
      }
        
    } catch (err) {
      console.log(err);
    }

    userForm.email.value = ""
    userForm.password.value = ""
  })
</script>

<%- include('partials/footer'); -%>