<%- include('partials/header'); -%>

<div class="main-container">
  <form>
    <h2>Login</h2>
    <label for="email">Email:</label>
    <input type="text" name="email" required />
    <div class="email error"></div>

    <label for="password">Password:</label>
    <input type="password" name="password" required />
    <div class="password error"></div>

    <input type="submit" value="Login"> 

    <p>
      Don't have an account? 
      <a href="/signup">Sign Up</a>
    </p>
  </form>
</div>

<script>
  const userForm = document.querySelector("form");
  const emailError = document.querySelector(".error.email");
  const passwordError = document.querySelector(".error.password");
  
  userForm.addEventListener("submit", async (e) => {
    e.preventDefault();

    // reset errors (if any)
    emailError.textContent = "";
    passwordError.textContent = "";
    
    const email = userForm.email.value; 
    const password = userForm.password.value;
    
    try {
      const result = await fetch("/login", {
        method: "POST",
        body: JSON.stringify({ email, password }),
        headers: { 
          "Content-Type": "application/json" 
        }
      })

      console.log(email, password);

      // save the promise returned by the server in a data constant
      const data = await result.json();
      
      console.log(data);

      // check errors and populate error message if needed
      if (data.errors) {
        emailError.textContent = data.errors.email;
        passwordError.textContent = data.errors.password;
      }

      // redirect
      if (data.userID) {
        // location.assign("/");
      }
        
    } catch (err) {
      console.log(err);
    }

    userForm.email.value = ""
    userForm.password.value = ""
  })
</script>

<%- include('partials/footer'); -%>